html {
    color: #000;
    line-height: 1.4;
    height: 100%;
    font-size: 18px;
}

body {
    height: 100%;
}

.wrapper {
    max-width: 1024px;
    padding: 0 30px;
    margin: 0 auto;
}

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu li {
    display: inline-block;
}

.menu li a {
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
}

nav {
    background-color: #4d585b;
}

nav input {
    display: none;
}

nav label {
    padding: 10px 15px;
    color: #fff;
    display: none;
}

.content {
    height: 100%;
    background-color: #b4b4b4;
}

.section {
    padding-top: 10px;
}

@media (max-width: 650px) {
    nav label {
        display: block;
    }

    .menu li {
        display: block;
    }

    .menu {
        display: none;
    }

    #menuToggle:checked + .menu {
        width: 100%;
        display: block;
        position: absolute;
        background-color: #4d585b;
        margin-left: -30px;
        padding-left: 28px;
    }
}
